


/*Top div */

#top_div {
  background-image:url("smoke.jpg");
  background-size: cover;
  
}

#top_div h1{
  text-align:center;
  color:white;
  margin-top:50%;
  margin-bottom:50%;
  text-shadow: 2px 2px 10px #000;
}
  





/*Intro div */
#intro_div {
    background-image:url("shot.jpg");
    background-size: cover;
}

#intro_div h1 {
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}

#intro_div h2 {
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}


#intro_div p {
  color:white;
  margin-top:18px;
  text-shadow: 2px 2px 10px #000;
}









/*Total div */
#total_div {
  background-image:url("bench.jpg");
  text-align:center;
} 

#total_div h1 {
  color:white;
  text-shadow: 2px 2px 10px #000;
  margin-top:35px;
  margin-bottom:35px;
}

#total_div h2 {
  color:white;
  text-shadow: 2px 2px 10px #000;
  margin-top:35px;
  margin-bottom:35px;
}

#total_div p {
  color:white;
  text-shadow: 2px 2px 10px #000;
  
}


#total_div img{
  opacity: 0.7;
}



#int_map img {
  opacity: 1;
}





/*Rank div */

#rank_div{
  background-image:url("backlit.jpg");
  text-align:center;
  filter: grayscale(100%); 
}


#rank_div h1{
  color:white;
  margin-bottom: 50px;
  text-shadow: 2px 2px 10px #000;
}


#rank_div table{
  color:white;
  text-shadow: 2px 2px 10px #000;
}

table{
  margin: auto;
  width: 75%;
  color:white;
  text-shadow: 2px 2px 10px #000;
}


br {
  margin-top:35px;
}





/*Info div */
#info_div{
  background-image:url("rain.jpg");
  text-align:center;
}

#info_div h1{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
  margin-bottom:35px;
}

#info_div h2{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
  margin-bottom:35px;
}


#info_div p{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}


table.kable_wrapper {
  margin: auto;
  width: 100%;
  color:white;
  text-shadow: 2px 2px 10px #000;
  margin-bottom:35px;
}

#info_div img{
  opacity: 0.7;
  margin-bottom:35px;
}


/*Map div */

#map_div{
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
   url("snort.jpg");
    
  text-align:center;
}


#map_div h1{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}

#map_div h2{
  color:white;
  margin-top:35px;
  margin-bottom:35px;
  text-shadow: 2px 2px 10px #000;
  font-size:45px;
}


#map_div p{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}





/*Corrline div*/
#corrline_div {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
   url("crosswalk.jpg");
  
  text-align:center;
  background-size: cover;
}


#corrline_div h1{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}

#corrline_div h2{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}


#corrline_div p{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}

#corrline_div img{
  opacity: 0.7;
}

#corrline_div pre{
  opacity: 0.7;
  color:white;
}

pre:not([class]) {
    background-color: black;
}




/*Graphs div*/
#graphs_div {
  background-image:url("alley.jpg");
  background-size: cover;
  text-align:center;
}

#graphs_div h1{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
  font-size:45px;
}

#graphs_div h2{
  color:white;
  margin-top:35px;
  margin-bottom:35px;
  text-shadow: 2px 2px 10px #000;
  
}


#graphs_div p{
  color:white;
  margin-top:35px;
  text-shadow: 2px 2px 10px #000;
}


#graphs_div img{
  opacity: 0.7;
}

